<!--Variables from component are injected in this html file-->
<div class="temperatures-legend">
    <p>Temperatures above 25[C] are marked in <span class="red-legend">red</span></p>
    <p>Temperatures below 25[C] are marked in <span class="blue-legend">blue</span></p>
    <p>Latitude/Logitude for Boston</p>
</div>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">City</th>
            <th scope="col">Date</th>
            <th scope="col">Min Temp</th>
            <th scope="col">Max Temp</th>
            <th scope="col">Weather State</th>
            <th scope="col">Icon</th>
        </tr>
    </thead>
    <tbody>
        <!--tr *ngFor="let current of currents"-->
            <td>{{locationCity?.name}}</td>
        <!--/tr-->           
            <!-- All temperatures are displayed in Celsius according to www.metaweather.com/api-->
            <td>{{locationCity?.localtime}}</td>
            <td *ngIf="checkTemperature(currents?.temp_c); then roundClimateMin else floorClimateMin"></td>
            <ng-template #roundClimateMin><td [style.color]="roundTemperature(currents?.temp_c) > 25 ? 'red' : 'blue'">{{roundTemperature(currents?.temp_c)}} [C]</td></ng-template>
            <ng-template #floorClimateMin><td [style.color]="roundTemperature(currents?.temp_c) > 25 ? 'red' : 'blue'">{{floorTemperature(currents?.temp_c)}} [C]</td></ng-template>
            <td *ngIf="checkTemperature(currents?.temp_f); then roundClimateMax else floorClimateMax"></td>
            <ng-template #roundClimateMax><td [style.color]="roundTemperature(currents?.temp_f) > 25 ? 'red' : 'blue'">{{roundTemperature(currents?.temp_f)}} [C]</td></ng-template>
            <ng-template #floorClimateMax><td [style.color]="roundTemperature(currents?.temp_f) > 25 ? 'red' : 'blue'">{{floorTemperature(currents?.temp_f)}} [C]</td></ng-template>
            <td>{{currents?.condition.text}}</td>
            <td><img src={{currents?.condition.icon}}></td>
     
    </tbody>
</table>
